@model SimpleHealthTracking.Repository.Entities.MedicineTaken

@{
    ViewBag.Title = "Delete this Habit/Medicine Taken Record";
}

<h2>Delete this Habit/Medicine Taken Record</h2>

<h3>Do you really want to delete this habit/medicine taken record? Once deleted, it'll be gone forever.</h3>
<div>
    <h4>Medicine Taken</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Html.DisplayFor(mt => mt.Medicine.Name)</dd>
        <dt>Time Taken</dt>
        <dd>@Html.DisplayFor(mt => mt.DateAddedFor)</dd>
        <dt>Last Update Time</dt>
        <dd>@Html.DisplayFor(mt => mt.TimeAdded)</dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Entry" class="btn btn-default" /> |
            @Html.ActionLink("Go Back to Habit/Medicine Taken List", "Index")
        </div>
    }
</div>