@using PagedList.Mvc
@model PagedList.IPagedList<SimpleHealthTracking.Repository.Entities.MedicineTaken>

@{ 
    ViewBag.Title = "Your Habit/Medicine Taken Entries";
}

<h2>Your Habit/Medicine Taken Entries</h2>

<p>
    @Html.ActionLink("Add a Habit/New Medicine Taken", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.MedicineNameParameter })
        </th>
        <th>
            @Html.ActionLink("Time Taken", "Index", new { sortOrder = ViewBag.DateSortParameter })
        </th>
        <th></th>
    </tr>
    @foreach (var mt in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => mt.Medicine.Name)</td>
            <td>@Html.DisplayFor(m => mt.DateAddedFor)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = mt.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = mt.Id })
            </td>
        </tr>
    }
</table>
<p>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort }))
</p>