@model SimpleHealthTracking.Web.ViewModels.MedicineViewModel

@{
    ViewBag.Title = "Add a Habit/Medicine";
}

<h2>Add a New Habit/Medicine</h2>
<p>
    Note: Habits/Medicines are NOT publicly visible unless you choose to share your stats page.
    Only the people you share the link with will have access to your stats page.
</p>
@using (Html.BeginForm("Create", "Medicine"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus", placeholder = "Medicine Name"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfTimesPerDay)
        @Html.TextBoxFor(m => m.NumberOfTimesPerDay, new { @class = "form-control", placeholder = "4"})
        @Html.ValidationMessageFor(m => m.NumberOfTimesPerDay)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IsActive)
        @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IsPublic)
        @Html.CheckBoxFor(m => m.IsPublic, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker", placeholder = "01/01/2016 (not required)"})
        @Html.ValidationMessageFor(m => m.StartDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate, new {  @class = "form-control datepicker", placeholder = "01/01/2017 (not required)"})
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
}