@model SimpleHealthTracking.Repository.Entities.Medicine

@{
    ViewBag.Title = "Delete this Habit/Medicine";
}

<h2>Delete This Habit/Medicine</h2>

<p>Do you really want to delete this habit/medicine? Once deleted, it'll be gone forever and all of its medicine taken records will be deleted too.</p>
<div>
    <h4>Habit/Medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Html.DisplayFor(m => m.Name)</dd>
        <dt>Number of Times to Take</dt>
        <dd>@Html.DisplayFor(m => m.NumberOfTimesPerDay)</dd>
        <dt>Currently Taking</dt>
        <dd>@Html.DisplayFor(m => m.IsActive)</dd>
        <dt>Start Date</dt>
        <dd>@Html.DisplayFor(m => m.StartDate)</dd>
        <dt>End Date</dt>
        <dd>@Html.DisplayFor(m => m.EndDate)</dd>
        <dt>Create Time</dt>
        <dd>@Html.DisplayFor(m => m.TimeAdded)</dd>
        <dt>Last Update</dt>
        <dd>@Html.DisplayFor(m => m.UpdateTime)</dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Habit/Medicine" class="btn btn-default" /> |
            @Html.ActionLink("Go Back to Habit/Medicine List", "Index")
        </div>
    }
</div>