@using PagedList.Mvc
@model PagedList.IPagedList<SimpleHealthTracking.Repository.Entities.Medicine>

@{
    ViewBag.Title = "Your Habits/Medicines";
}

<h2>Your Habits/Medicines</h2>
<p>
    This feature can be used to track habit completion and medicines taken.
</p>
<p>
    @Html.ActionLink("Add a New Habit/Medication", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort })
        </th>
        <th>
            @Html.ActionLink("Times Per Day", "Index", new { sortOrder = ViewBag.NumberTimesSort })
        </th>
        <th>
            @Html.ActionLink("Is Active", "Index", new { sortOrder = ViewBag.IsActiveSort })
        </th>
        <th>
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.StartDateSort })
        </th>
        <th>
            @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndDateSort })
        </th>
        <th>
            @Html.ActionLink("Create Time", "Index", new { sortOrder = ViewBag.TimeAddedSort })
        </th>
        <th></th>
    </tr>
    @foreach (var medicine in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => medicine.Name)</td>
            <td>@Html.DisplayFor(m => medicine.NumberOfTimesPerDay)</td>
            <td>@Html.DisplayFor(m => medicine.IsActive)</td>
            <td>@Html.DisplayFor(m => medicine.StartDate)</td>
            <td>@Html.DisplayFor(m => medicine.EndDate)</td>
            <td>@Html.DisplayFor(m => medicine.TimeAdded)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = medicine.Id }) |
                @Html.ActionLink("Details", "Details", new { id = medicine.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = medicine.Id })
            </td>
        </tr>
    }
</table>
<p>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort }))
</p>