@model SimpleHealthTracking.Repository.Entities.Checkin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkin Details</h2>

<div>
    <h4>Checkin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Weight</dt>
        <dd>@Html.DisplayFor(c => c.Weight)</dd>
        <dt>Heartrate</dt>
        <dd>@Html.DisplayFor(c => c.Heartrate)</dd>
        <dt>Blood Pressure</dt>
        <dd>@String.Concat(Model.SystolicBloodPressure, "/", Model.DiastolicBloodPressure)</dd>
        <dt>Physical Rating</dt>
        <dd>@Html.DisplayFor(c => c.PhysicalFeelingRating)</dd>
        <dt>Pyschological Rating</dt>
        <dd>@Html.DisplayFor(c => c.PsychologicalFeelingRating)</dd>
        <dt>Exercise Rating</dt>
        <dd>@Html.DisplayFor(c => c.ExerciseRating)</dd>
        <dt>Notes</dt>
        <dd><p>@Model.Notes</p></dd>
        <dt>Time Created</dt>
        <dd>@Html.DisplayFor(c => c.TimeAdded)</dd>
        <dt>Last Update Time</dt>
        <dd>@Html.DisplayFor(c => c.UpdateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to Checkin List", "Index")
</p>