@using PagedList.Mvc
@model PagedList.IPagedList<SimpleHealthTracking.Repository.Entities.Checkin>

@{
    ViewBag.Title = "Your Checkin Entries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Checkin Entries</h2>
<p>The checkin list only shows a condensed version of your checkins. You can use the Edit, Details, and Delete links to act on your past entries.</p>

<p>
    @Html.ActionLink("Add a Checkin", "Create")
    <br />
    @Html.ActionLink("Notes", "Notes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Weight", "Index", new { sortOrder = ViewBag.WeightSortParameter })
        </th>
        <th>
            @Html.ActionLink("Heartrate", "Index", new { sortOrder = ViewBag.HeartrateSortParameter })
        </th>
        <th>Blood Pressure</th>
        <th>Ratings (Physical, Psych, Exercise)</th>
        <th>
            @Html.ActionLink("Time Created", "Index", new { sortOrder = ViewBag.DateSortParameter })
        </th>
        <th></th>
    </tr>
    @foreach (var checkin in Model)
    {
        <tr>
            <td>@Html.DisplayFor(c => checkin.Weight)</td>
            <td>@Html.DisplayFor(c => checkin.Heartrate)</td>
            <td>@String.Concat(checkin.SystolicBloodPressure.ToString(), "/", checkin.DiastolicBloodPressure)</td>
            <td>@String.Concat(checkin.PhysicalFeelingRating, ", ", checkin.PsychologicalFeelingRating, ", ", checkin.ExerciseRating)</td>
            <td>@Html.DisplayFor(c => checkin.TimeAdded)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = checkin.Id }) |
                @Html.ActionLink("Details", "Details", new { id = checkin.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = checkin.Id })
            </td>
        </tr>
    }
</table>
<p>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort }))
</p>