@model SimpleHealthTracking.Web.Classes.HealthStatistics

@{ 
    ViewBag.Title = "Health Statistics";
}

<h2>Health Statistics</h2>

<div class="row">
    <div class="streak-stats-card">
        <h3 class="streak-title">Heartrate</h3>
        @if (Model.MaxHeartrateCheckin != null)
        {
            <p>
                <label class="streak-category">Average: </label> 
                <label class="streak-value">@Model.AverageHeartrate.ToString("0.00") bpm</label>
            </p>
            <p>
                <label class="streak-category">Max: </label>
                <label class="streak-value">@Model.MaxHeartrateCheckin.Heartrate on @Model.MaxHeartrateCheckin.TimeAdded.ToShortDateString()</label>
            </p>
            <p>
                <label class="streak-category">Min: </label>
                <label class="streak-value">@Model.MinHeartrateCheckin.Heartrate on @Model.MinHeartrateCheckin.TimeAdded.ToShortDateString()</label>
            </p>
        }
        else
        {
            <label class="streak-category">Nothing to see! No Heartrates have been entered yet.</label>
        }
    </div>
    <div class="streak-stats-card">
        <h3 class="streak-title">Weight</h3>
        @if (Model.MaxWeightCheckin != null)
        {
            <p>
                <label class="streak-category">Average: </label>
                <label class="streak-value">@Model.AverageWeight.ToString("0.00")</label>
            </p>
            <p>
                <label class="streak-category">Max: </label> 
                <label class="streak-value">@Model.MaxWeightCheckin.Weight on @Model.MaxWeightCheckin.TimeAdded.ToShortDateString()</label>
            </p>
            <p>
                <label class="streak-category">Min: </label> 
                <label class="streak-value">@Model.MinWeightCheckin.Weight on @Model.MinWeightCheckin.TimeAdded.ToShortDateString()</label>
            </p>
        }
        else
        {
            <label class="streak-category">Nothing to see! No weights have been entered yet.</label>
        }
    </div>
    <div class="streak-stats-card">
        <h3 class="streak-title">Sleep</h3>
        @if (Model.MostSleep != null)
        {
            <p>
                <label class="streak-category">Average Slept: </label>
                <label class="streak-value">@((Model.AverageMinutesSlept / 60).ToString("0.00")) hours</label>
            </p>
            <p>
                <label class="streak-category">Average Start Time: </label>
                <label class="streak-value">@Model.AverageSleepStartTime.ToShortTimeString()</label>
            </p>
            <p>
                <label class="streak-category">Average End Time: </label>
                <label class="streak-value">@Model.AverageSleepEndTime.ToShortTimeString()</label>
            </p>
            <p>
                <label class="streak-category">Most Sleep: </label>
                <label class="streak-value">@(((double)Model.MostSleep.MinutesSlept / 60).ToString("0.00")) hours
                on @Model.MostSleep.StartTime.Value.ToShortDateString()</label>
            </p>
            <p>
                <label class="streak-category">Least Sleep: </label>
                <label class="streak-value">@(((double)Model.LeastSleep.MinutesSlept / 60).ToString("0.00")) hours
                on @Model.LeastSleep.StartTime.Value.ToShortDateString()</label>
            </p>
        }
        else
        {
            <label class="streak-category">Nothing to see here! No sleep entries have been added.</label>
        }
    </div>
    <div>
        <p>
            Manage your public stats page: @Html.ActionLink("Public Stats Maintenance", "PublicStatsMaintenance", "Stats").
        </p>
    </div>
    <div>
        <h3>Supplemental Charts</h3>
        <p>
            @Html.ActionLink("All Time Heartrates", "AllTimeHeartrateChart", "Stats")
            <br />
            @Html.ActionLink("All Time Weight", "AllTimeWeightChart", "Stats")
            <br />
            @Html.ActionLink("All Time Sleep", "AllTimeSleepChart", "Stats")
        </p>
    </div>
</div>