@model SimpleHealthTracking.Web.Classes.HealthStatistics

@{ 
    ViewBag.Title = "Health Statistics";
}

<h2>Health Statistics</h2>

<div class="row">
    <div class="col-md-3">
        <h2>Heartrate</h2>
        <p><b>Average:</b> @Model.AverageHeartrate.ToString("0.00")</p>
        <p><b>Max:</b> @Model.MaxHeartrateCheckin.Heartrate on @Model.MaxHeartrateCheckin.TimeAdded.ToShortDateString()</p>
        <p><b>Min:</b> @Model.MinHeartrateCheckin.Heartrate on @Model.MinHeartrateCheckin.TimeAdded.ToShortDateString()</p>
    </div>
    <div class="col-md-3">
        <h2>Weight</h2>
        <p><b>Average:</b> @Model.AverageWeight.ToString("0.00")</p>
        <p><b>Max:</b> @Model.MaxWeightCheckin.Weight on @Model.MaxWeightCheckin.TimeAdded.ToShortDateString()</p>
        <p><b>Min:</b> @Model.MinWeightCheckin.Weight on @Model.MinWeightCheckin.TimeAdded.ToShortDateString()</p>
    </div>
    <div class="col-md-3">
        <h2>Sleep</h2>
        <p><b>Average Slept:</b> @((Model.AverageMinutesSlept / 60).ToString("0.00")) hours</p>
        <p><b>Average Start Time:</b> @Model.AverageSleepStartTime.ToShortTimeString()</p>
        <p><b>Average End Time:</b> @Model.AverageSleepEndTime.ToShortTimeString()</p>
        <p><b>Most Sleep:</b> @(((double)Model.MostSleep.MinutesSlept / 60).ToString("0.00")) hours
            on @Model.MostSleep.StartTime.Value.ToShortDateString()
        </p>
        <p><b>Least Sleep:</b> @(((double)Model.LeastSleep.MinutesSlept / 60).ToString("0.00")) hours
         on @Model.LeastSleep.StartTime.Value.ToShortDateString()
        </p>
    </div>
</div>